body{
    background-color: #f5f5f5;
}
h1{
    color: darkorange;
    text-align: center;
    text-shadow: #a5a3a3 -1px 1px;
}
#teste{
    font-family: tahoma;
    text-align: center;
}
button{
    width: 150px;
    height: 30px;
    font-size: 20px;
    font-family: tahoma;
    border:none;
    border-radius: 7%;
    background-color: darkorange;
    color: #f5f5f5;
    cursor:pointer;

}
button:hover{
    background-color: rgb(73, 1 ,1);
    color: rgb(255, 255, 255)
}